# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.virtualenvs/
.env

# Folder for Flasks
instance/
migrations/
# Environment variables
secret_key.env
# Random Files
Flow chart.png
Website Imaging.png
structure.rtf

# OS-specific files
.DS_Store